<div class="container">
    <h3>Leave us a Message</h3>
   
</div>
<hr>
<form (ngSubmit)="onSubmit(contactForm)" [formGroup]="contactForm">
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="name">Name*</label>
        <input formControlName="name" type="text" class="form-control"/>
        <div
        class="alert alert-danger p-1 mt-1"
        *ngIf="contactForm.get('name').touched && contactForm.get('name').invalid"
      >
        Invalid Name, min length: 2 characters.
      </div>
  
      </div>
  
      <div class="form-group col-md-6">
        <label for="title">Email*</label>
        <input formControlName="email" type="email" class="form-control"/>
        <div
          class="alert alert-danger p-1 mt-1"
          *ngIf="contactForm.get('email').touched && contactForm.get('email').invalid"
        >
          Invalid Email.
        </div>
      </div>
  
    
    </div>
    <div class="form-group">
        <label for="subject">Subject*</label>
        <input formControlName="subject" type="text" class="form-control"/>
        <div
        class="alert alert-danger p-1 mt-1"
        *ngIf="contactForm.get('subject').touched && contactForm.get('subject').invalid"
      >
        Invalid Subject, min length: 4 characters.
      </div>
    </div>
  <div class="form-group">
    <label for="message">Message*</label>
    <textarea formControlName="message" class="form-control rounded-0" id="message" rows="3"></textarea>
    
  <div
    class="alert alert-danger p-1 mt-1"
    *ngIf="contactForm.get('message').touched && contactForm.get('message').invalid"
  >
    Invalid Message, min length: 4 characters.
  </div>
  </div>
  
    <button
      class="btn btn-primary"
      [ngClass]="{
        'btn-success': contactForm.valid,
        'btn-secondary': contactForm.invalid
      }"
      type="submit"
      [disabled]="contactForm.invalid"
    >
      Send Message
    </button>
  </form>

  <div class="alert alert-success mt-4" role="alert" *ngIf="!isSent;">
    Thank you for your feedback!
  </div>
  