<div class="alert alert-success" *ngIf="checkoutDone">
  Thank You for purchasing using Ng Shop
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-12">
      <table class="table table-hover">
        <thead>
        <tr>
          <th scope="col" class="text-center">Product</th>
          <th scope="col" class="text-center">Price</th>
          <th scope="col" class="text-center">Quantity</th>
          <th scope="col" class="text-center">Total</th>
        </tr>
        </thead>
        <tbody>
        <tbody>
        <tr *ngFor="let cartItem of cart">
          <td class="text-center">
            <img src="{{cartItem.product?.ProductPicUrl}}" alt="{{cartItem.product?.Name}}product." width="150px">
            {{cartItem.product?.Name}}
          </td>
          <td class="text-center">{{ cartItem.product?.Price }}</td>
          <td class="text-center">
            <input type="number"
                   class="form-control mb-2 mr-sm-2"
                   name="quantity" #quantity="ngModel"
                   [(ngModel)]="cartItem.quantity"
                   (input)="onInputQuantity(quantity, cartItem.product?.Quantity)"
                   max="{{cartItem.product?.Quantity}}"
                   min="1"
                   required>
            <div *ngIf="quantity.errors?.required" class="small text-danger">{{quantity.errors.required}}</div>
            <div *ngIf="quantity.errors?.maxMin" class="small text-danger">{{quantity.errors.maxMin}}</div>
          </td>
          <td class="text-center">{{ cartItem.total }}</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-12 d-flex flex-column align-items-end text-primary">
      <h3 class="mr-5 text-dark"><span style="text-decoration: underline lightgreen wavy ">Cart </span>Total:</h3>
    </div>
    <div class="col-12 d-flex justify-content-end">
      <div class="mr-5">Total:</div>
      <div class="ml-5">{{ getTotalQuantity() }}</div>
    </div>
  </div>
  <div class="row" *ngIf="cart&&cart.length">
    <div class="col-12">
      <button class="btn btn-block" 
      [class]="{
        'btn-success': !checkoutInvalid,
        'btn-secondary': checkoutInvalid
      }"
      (click)="checkout()" [disabled]="checkoutInvalid">Checkout</button>
    </div>
  </div>
</div>

