<div class="form-group mt-5">
  <input [(ngModel)]="searchTerm"  placeholder="Search" type="text" class="form-control w-50 m-auto">
</div>
<div>{{searchTerm}}</div>
<div class="row justify-content-center ">
    <div *ngFor="let item of allProducts|search:searchTerm" class="card m-3 "  style="width: 18rem;">
        <div>
          <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" class=""> 
            <img [src]="item.ProductPicUrl" class="card-img-top w-100 border-bottom" alt="...">
          </a>
        </div>
        <div class="card-body row justify-content-between align-items-center">
          <h5 class="card-title w-50">{{item.Name}}</h5>
          <button href="#" class="btn btn-primary  w-50">Add To Cart</button>
          <p class="lead color text-danger">${{item.Price}}</p>
        </div>
     </div>
</div>